In [30]:
import pandas as pd

In [53]:
train = pd.read_csv("train.csv")

In [42]:
train.head()

,post.id,user.id,gender,topic,sign,date,text,age
0,1,11869,male,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",15
1,2,11869,male,Student,Leo,"13,May,2004",These are the team members: Drewe...,15
2,3,11869,male,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,15
3,4,11869,male,Student,Leo,"12,May,2004",testing!!! testing!!!,15
4,5,16332,male,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,33

In [44]:
#lowercase
train['text'] = train['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['text'].head()

0    info has been found (+/- 100 pages, and 4.5 mb...
1    these are the team members: drewes van der laa...
2    in het kader van kernfusie op aarde: maak je e...
3                                testing!!! testing!!!
4    thanks to yahoo!'s toolbar i can now 'capture'...
Name: text, dtype: object

In [45]:
#remove punc
train['text'] = train['text'].str.replace('[^\w\s]','')
train['word_count2'] = train['text'].apply(lambda x: len(str(x).split(" ")))
train['text'].head()

                                                text  word_count  word_count2
0  info has been found  100 pages and 45 mb of pd...          48           28
1  these are the team members drewes van der laag...          84           20
2  in het kader van kernfusie op aarde maak je ei...        4363         4326
3                                    testing testing          24            2
4  thanks to yahoos toolbar i can now capture the...          93           65

In [46]:
#remove stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['text'] = train['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['word_count3'] = train['text'].apply(lambda x: len(str(x).split(" ")))
train['text'].head()

,text,word_count,word_count2,word_count3
0,info found 100 pages 45 mb pdf files wait unti...,48,28,15
1,team members drewes van der laag urllink mail ...,84,20,16
2,het kader van kernfusie op aarde maak je eigen...,4363,4326,2383
3,testing testing,24,2,2
4,thanks yahoos toolbar capture urls popupswhich...,93,65,37

In [17]:
freq = pd.Series(' '.join(train['text']).split()).value_counts()[-10:]

In [19]:
#remove uncommon words
freq = list(freq.index)
train['text'] = train['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['text'].head()

0    info found 100 pages 45 mb pdf files wait unti...
1    team members drewes van der laag urllink mail ...
2    het kader van kernfusie op aarde maak je eigen...
3                                      testing testing
4    thanks yahoos toolbar capture urls popupswhich...
Name: text, dtype: object