In [2]:
import pandas as pd


test = pd.read_csv("test.csv")

#Get initial look at data
test.head()

,post.id,user.id,gender,topic,sign,date,text
0,96,4876,female,indUnk,Capricorn,"08,August,2004","urlLink im new to this, ..."
1,97,4876,female,indUnk,Capricorn,"08,August,2004",Election time has rolled aro...
2,108,12227,female,Student,Aries,"31,July,2004","Met Lim this morning, then we..."
3,109,12227,female,Student,Aries,"30,July,2004",Such a boring day. I have no ...
4,110,12227,female,Student,Aries,"29,July,2004","Nuts. As usual, Theo and I pl..."

In [3]:
# counting number of words

test['word_count_basic'] = test['text'].apply(lambda x: len(str(x).split(" ")))
test[['text','word_count_basic']].head()

                                                text  word_count_basic
0                    urlLink     im new to this, ...                46
1                    Election time has rolled aro...               831
2                   Met Lim this morning, then we...               142
3                   Such a boring day. I have no ...                66
4                   Nuts. As usual, Theo and I pl...               295

In [4]:
# counting number of characters

test['char_count_basic'] = test['text'].str.len() ## this also includes spaces
test[['text','char_count_basic']].head()

                                                text  char_count_basic
0                    urlLink     im new to this, ...               103
1                    Election time has rolled aro...              4646
2                   Met Lim this morning, then we...               705
3                   Such a boring day. I have no ...               223
4                   Nuts. As usual, Theo and I pl...              1512

In [5]:
# counting average word length

test['avg_word_basic'] = (test.char_count_basic-test.word_count_basic+1)/test.word_count_basic
test[['text','avg_word_basic']].head()

                                                text  avg_word_basic
0                    urlLink     im new to this, ...        1.260870
1                    Election time has rolled aro...        4.592058
2                   Met Lim this morning, then we...        3.971831
3                   Such a boring day. I have no ...        2.393939
4                   Nuts. As usual, Theo and I pl...        4.128814

In [6]:
# counting number of stopwords
from nltk.corpus import stopwords

stop = stopwords.words('english')

test['stopwords_basic'] = test['text'].apply(lambda x: len([x for x in x.split() if x in stop]))
test[['text','stopwords_basic']].head()

                                                text  stopwords_basic
0                    urlLink     im new to this, ...                6
1                    Election time has rolled aro...              316
2                   Met Lim this morning, then we...               41
3                   Such a boring day. I have no ...               16
4                   Nuts. As usual, Theo and I pl...               82

In [7]:
# counting number count

test['number_count_basic'] = test['text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
test[['text','number_count_basic']].head()

                                                text  number_count_basic
0                    urlLink     im new to this, ...                   0
1                    Election time has rolled aro...                   1
2                   Met Lim this morning, then we...                   0
3                   Such a boring day. I have no ...                   0
4                   Nuts. As usual, Theo and I pl...                   0

In [8]:
# counting special characters

def countSpecialChar(str): 
  
    # initializing variables (initial count)
    char = 0
    specialChar = 0
    digit = 0
    space = 0
  
    # str.length() function to count  
    # number of character in given string. 
    for i in range(0, len(str)):  
          
        ch = str[i]
          
        if ( (ch >= 'a' and ch <= 'z') or 
             (ch >= 'A' and ch <= 'Z') ):  
            char += 1
            
        elif (ch >= '0' and ch <= '9'): 
            digit += 1
        elif (ch == ' '):
            space += 1
        else: 
            specialChar += 1
    return (specialChar)

test['special_character_basic'] = test['text'].apply(countSpecialChar)
test[['text','special_character_basic']].head()

                                                text  special_character_basic
0                    urlLink     im new to this, ...                        3
1                    Election time has rolled aro...                      169
2                   Met Lim this morning, then we...                       32
3                   Such a boring day. I have no ...                        8
4                   Nuts. As usual, Theo and I pl...                       79

In [9]:
# counting upper case letters

test['upper_count_basic'] = test['text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
test[['text','upper_count_basic']].head()

                                                text  upper_count_basic
0                    urlLink     im new to this, ...                  1
1                    Election time has rolled aro...                 18
2                   Met Lim this morning, then we...                  8
3                   Such a boring day. I have no ...                  4
4                   Nuts. As usual, Theo and I pl...                 11

In [ ]:
# counting misspelt words

test['text_new'] = test['text'].str.replace('[^\w\s]','')
test['text_new'] = test['text_new'].apply(lambda x: x.strip())
test['words'] = test['text_new'].str.split(" ")

from spellchecker import SpellChecker

spell = SpellChecker()

test['misspelt_count_basic'] = test['words'].apply(lambda x: len([i for i in x if spell.unknown(i)]))

In [ ]:
# counting proportion stopword, special, number, upper, word length

test['stopword_ratio'] = test.stopwords_basic/test.word_count_basic
test['special_ratio'] = test.special_character_basic/test.word_count_basic
test['number_ratio'] = test.number_count_basic/test.word_count_basic
test['upper_ratio'] = test.misspelt_count_basic/test.word_count_basic
test['misspelt_ratio'] = train.misspelt_count_basic/train.word_count_basic

test = test.drop(['char_count_basic', 'stopwords_basic', 'number_count_basic', 'upper_count_basic', 'text_new', 'words'], axis=1)

In [ ]:
#lowercase
test['text'] = test['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
test['text'].head()

#remove punctuation
test['text'] = test['text'].str.replace('[^\w\s]','')
test['word_count2'] = test['text'].apply(lambda x: len(str(x).split(" ")))
test['text'].head()

#remove stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
test['text'] = test['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
test['word_count3'] = test['text'].apply(lambda x: len(str(x).split(" ")))
test['text'].head()

freq = pd.Series(' '.join(test['text']).split()).value_counts()[-10:]

In [3]:
#remove uncommon words
freq = list(freq.index)
test['text'] = test['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
test['text'].head()

0          urllink im new tell god create links column
1    election time rolled around everyone spitting ...
2    met lim morning went spc get help raymondmaths...
3    boring day comments found im shortest girl cla...
4    nuts usual theo played food todays creation co...
Name: text, dtype: object

In [4]:
###remove common words###
freq = pd.Series(' '.join(test['text']).split()).value_counts()[:10]
freq = list(freq.index)
test['text'] = test['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#Visualize
test['text'].head()

0                     new tell god create links column
1    election rolled around everyone spitting venom...
2    met lim morning went spc help raymondmathsno c...
3    boring day comments found shortest girl class ...
4    nuts usual theo played food todays creation co...
Name: text, dtype: object

In [5]:
###Remove rare words###
freq = pd.Series(' '.join(test['text']).split()).value_counts()[-10:]
freq = list(freq.index)
test['text'] = test['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
#Visualize
test['text'].head()

0                     new tell god create links column
1    election rolled around everyone spitting venom...
2    met lim morning went spc help raymondmathsno c...
3    boring day comments found shortest girl class ...
4    nuts usual theo played food todays creation co...
Name: text, dtype: object

In [6]:
###Spelling correction###
from textblob import TextBlob
test['text'][:5].apply(lambda x: str(TextBlob(x).correct()))

###Tokenization (dividing the text into a sequence of words or sentences)###
TextBlob(test['text'][1]).words

#Stemming (removal of suffices, like “ing”, “ly”, “s”, etc. by a simple rule-based approach)
#from nltk.stem import PorterStemmer
#st = PorterStemmer()
#test['text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

#Lemmatization (more effective option than stemming because 
# converts the word into its root word, rather than just stripping the suffices)
#*Preferred to stemming*#

from textblob import Word
test['text'] = test['text'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
test['text'].head()

0                      new tell god create link column
1    election rolled around everyone spitting venom...
2    met lim morning went spc help raymondmathsno c...
3    boring day comment found shortest girl class h...
4    nut usual theo played food today creation cons...
Name: text, dtype: object

In [7]:
sentiment = test['text'].apply(lambda x: TextBlob(x).sentiment[0])

In [9]:
test['sentiment'] = sentiment

In [10]:
test = pd.get_dummies(test, columns=['gender', 'topic'])

In [13]:
testdropped = test.drop(['post.id', 'sign', 'date', 'text'], axis=1)

In [16]:
testdropped.to_csv("testclean.csv")